.auth-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 1px soli red;
    background-color: aqua;
    margin: 50px auto;
}
