<!-- <div style="height: 400px; width: 400px; background-position: center;">
    <div style="height: 300px; width: 300px; background-position: center;" [ngStyle]="{
         'background-image':'url(https://s3.us-east-1.amazonaws.com/co-assets/assets/images/_fbTw/e-commerce-credit-card-processing-guide.jpg)'
    }"></div>    
    <div>

    </div>
</div> -->


<div class="card" style="width: 18rem; padding: 10px; margin: 10px;">
    <img class="card-img-top" src="https://s3.us-east-1.amazonaws.com/co-assets/assets/images/_fbTw/e-commerce-credit-card-processing-guide.jpg" alt="Card image cap">
    <div class="card-body" style="display: grid; justify-content: center;">
      <h4 class="card-title">Card title</h4>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
     
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div  style="display: flex; justify-content: space-between;">
        <div class="price">
          <h4>1000$</h4>
        </div>
        <div class="add-card">
            <button type="button" class="btn btn-primary">Add</button>
        </div>
    </div>
  </div>
